﻿@inherits LayoutComponentBase
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            @Body
        </div>
    </div>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider/>
<style>
    body {
        background: url('images/background/background-cong-nghe-dep_035953410.jpg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>